/* margin mixin */
@mixin style-body {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin style-div {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include style-body()
}
  
  div {
    @include style-div()
}
